.pic {
  display: block;
  /* border: 2px solid #ccc;
  box-shadow: 2px 1px 1px #eee; */
  padding: 10px;
  margin-right: 10px;
}

h4,
p {
  font-size: 14px;
}

.basePic {
  /*border: 1px solid #ccc;*/
  /*margin-bottom: 10px;*/
  border: 1px solid #ccc;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  display: inline-block;
  margin: 1em;
}

.basePic:hover{
  border: 1px solid #aaa;
  boxShadow: 0 4px 15 px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.input {
}

.input:focus,
.input.active {
  outline: none;
}

.input.green {
  border: 1px solid green;
}

.input.red {
  border: 1px solid red;
}

.input.bold {
  border: 2px solid green;
  font-weight: bold;
}
